/* ##### BORDERS ##### */
.no-top-border {
  border-top: none;
}

/* DASHED BORDERS */
.top-dashed {
  border-top: 2px dashed black;
}

.left-dashed {
  border-left: 2px dashed black;
}

.top-left-dashed {
  border-top: 2px dashed black;
  border-left: 2px dashed black;
}

/* DOTTED BORDERS */
.top-dotted {
  border-top: 2px dotted black;
}

.left-dotted {
  border-left: 2px dotted black;
}

.top-left-dotted {
  border-top: 2px dotted black;
  border-left: 2px dotted black;
}
