.comment {
  position: relative;
  cursor: pointer;
}

.comment::after {
  content: '';
  border-width: 3px;
  border-style: solid;
  border-color: red red transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.comment-box {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  margin: 5px 5px 0 5px;

  border: 2px solid red;
  border-radius: 6px;
  padding: 10px;
  background-color: lightgoldenrodyellow;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
}

.comment:hover .comment-box {
  visibility: visible;
  z-index: 99;
}
