#btn-to-top {
  width: 36px;
  height: 36px;
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 50%;

  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
}

.up-arrow {
  width: 14px;
  height: 14px;
  border-top: 5px solid white;
  border-left: 5px solid white;
  margin: auto;
  transform: rotate(45deg);
  translate: 0 0.8em;
}

#btn-to-top:hover {
  border: 2px solid rgb(128, 128, 128);
  background-color: rgba(255, 255, 255, 0.8);
}

#btn-to-top:hover .up-arrow {
  border-color: rgb(128, 128, 128);
}
