#btn-to-top {
  display: none;
  position: fixed;
  bottom: 4px;
  right: 4px;
  z-index: 99;
  font-size: 22px;
  border: none;
  outline: none;
  background-color: rgba(127, 127, 127, 0.8);
  color: white;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 50%;
}

#btn-to-top:hover {
  border: 2px solid rgb(127, 127, 127);
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(127, 127, 127);
}

div.up-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

span.up-arrow {
  /* position: relative; */
  transform: translate(0, -0.1em);
}
