/* ##### Calculator - Corrections ##### */
.calc-corrections {
  max-width: 320px;
  width: 100%;
}

.corrections-subcard-1,
.corrections-subcard-2 {
  margin-bottom: 20px;
}

.cell-correction-1,
.cell-correction-2 {
  padding: 2px 10px;
  text-align: center;
}

.correction-title {
  color: rgb(192, 0, 0);
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  padding: 4px;
}

/* Correction Inputs */
#hydratation-increment,
#hydratation-decrement {
  background-color: rgb(255, 255, 153);
  border: 1px solid black;
  padding: 1px;
  text-align: center;
  max-width: 80px;
}

/* Font Colors */
.cell-correction-1.blue.bold {
  color: rgb(79, 129, 189);
}

.cell-correction-2.red.bold {
  color: rgb(150, 54, 52);
}

.cell-correction-2.green.bold {
  color: rgb(79, 98, 40);
}

.cell-correction-2.purple {
  color: rgb(112, 100, 160);
  font-weight: bold;
  font-size: 90%;
}

/* Subcard I - BORDERS */
.corrections-subcard-1 {
  border-right: 3px solid rgb(79, 129, 189);
  border-bottom: 3px solid rgb(79, 129, 189);
}

.cell-correction-1 {
  border-top: 2px dashed rgb(79, 129, 189);
  border-left: 3px solid rgb(79, 129, 189);
}

.cell-correction-1._top {
  border-top: 3px solid rgb(79, 129, 189);
}

/* Subcard II - BORDERS */
.corrections-subcard-2 {
  border-right: 3px solid rgb(150, 54, 52);
  border-bottom: 3px solid rgb(150, 54, 52);
}

.cell-correction-2 {
  border-top: 2px dashed rgb(150, 54, 52);
  border-left: 3px solid rgb(150, 54, 52);
}

.cell-correction-2._top {
  border-top: 3px solid rgb(150, 54, 52);
}
