/* ##### Calculator - Leaven ##### */
.calc-leaven-feed {
  max-width: 320px;
  width: 100%;
}

.card._leaven-feed {
  border: 2px solid black;
  margin-bottom: 20px;
}

.card-header._leaven-feed {
  /* border-bottom: 1px solid black; */
  color: rgb(192, 0, 0);
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  padding: 4px;
}

.card-body._leaven-feed {
  padding: 16px;
}

.leaven-feed-method {
  background-color: rgb(235, 241, 222);
  grid-column: 1 / -1;
}

.grid-item._version._1,
.grid-item._version._2 {
  grid-column: 1 / -1;
}

.feed-mother {
  font-weight: bold;
}

.feed-mother._1 {
  color: rgb(92, 124, 28);
}

.feed-mother._2 {
  color: rgb(69, 108, 155);
}

/* TOTAL sections */
.feed-total._text {
  text-decoration: underline;
}

.feed-total._text,
.feed-total._1,
.feed-total._2 {
  font-size: 90%;
  font-style: italic;
}

.feed-total._1 {
  color: rgb(192, 0, 0);
}

/* Leaven FOOTER section */
.explained._A,
.explained._B {
  font-weight: bold;
}

.explained._A {
  color: rgb(192, 0, 0);
}

.explained._B {
  color: rgb(69, 108, 155);
}

.subcard-leaven-ver-2._explained,
.subcard-leaven-ver-2._explained .grid-item {
  border: none;
}

.subcard-leaven-ver-2._explained div {
  font-size: 90%;
}
