.legend-card {
  max-width: 320px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.legend-card div:first-child {
  border-top: 1px dashed black;
}

.legend-card div {
  border-bottom: 1px dashed black;
  border-left: 1px dashed black;
  border-right: 1px dashed black;
  text-align: center;
  padding: 4px 10px;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend-title {
  font-weight: bold;
}

.legend-variable-value {
  background-color: rgb(255, 255, 153);
}

.legend-target-value {
  background-color: rgb(255, 204, 102);
}

.legend-text-value {
  background-color: rgb(216, 228, 188);
}
