/* #-BORDERS */
.no-top-border {
  border-top: none;
}

/* #-SOLID BORDERS */

/* #-DASHED BORDERS */
.top-dashed {
  border-top: 2px dashed black;
}

.top-right-dashed {
}

.right-dashed {
}

.left-dashed {
  border-left: 2px dashed black;
}

.top-left-dashed {
  border-top: 2px dashed black;
  border-left: 2px dashed black;
}

/* #-DOTTED BORDERS */
.top-dotted {
  border-top: 2px dotted black;
}

.top-right-dotted {
}

.right-dotted {
}

.left-dotted {
  border-left: 2px dotted black;
}

.top-left-dotted {
  border-top: 2px dotted black;
  border-left: 2px dotted black;
}
