/* Queries points >>> 1000px / 680px / 370px / 350px */

/* #-QUERIES */
@media (max-width: 1000px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }

  .page-column:nth-of-type(1) {
    border-bottom: 1px solid var(--grey-bg);
  }

  .page-column:nth-of-type(2) {
    border-right: none;
    border-bottom: 1px solid var(--grey-bg);
  }

  .page-column:last-child {
    border-right: 1px solid var(--grey-bg);
  }
}

@media (max-width: 680px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }

  .page-column {
    border: none;
    border-bottom: 1px solid var(--grey-bg) !important;
  }

  /* .btns-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  } */

  #btn-to-top {
    bottom: 60px;
    right: 10px;
  }
}

@media (max-width: 350px) {
  .grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-body {
    padding: 16px;
  }

  /* DASHED BORDERS */
  .right-dashed {
    border-left: 2px dashed black;
  }

  .top-dashed {
    border-top: 1px solid black;
    border-left: 2px dashed black;
  }

  /* DOTTED BORDERS */
  .top-dotted.result-secondary {
    border-top: 1px solid black;
    border-left: 2px dotted black;
  }

  .right-dotted.result-secondary {
    border-left: 2px dotted black;
  }
}

@media (max-width: 370px) {
  .legend-card {
    width: auto;
  }
}

@media (max-width: 308px) {
  .white-flour-grid {
    grid-template-columns: 1fr;
  }

  .white-flour-cell-1,
  .additional-flour-total {
    justify-self: center;
  }
}

@media (max-width: 300px) {
  .card-flours-cell._1a._top {
    border: none;
  }
}
